<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <input type="file"(change)="upload($event)">
    </ion-item>
    <progressbar [progress]="loadProgress"></progressbar>
  </ion-list>
</ion-content>
