<!--
  Generated template for the Progressbar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="progress-outer">
  <div class="progress-inner" [style.width]="progress + '%'">
    {{progress}}%
  </div>
</div>
